<!DOCTYPE html>
<html>
<head>
    <title>Hand Symbol Detector and Controller</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>$(document).ready(function() {
        
        $("#add-row").click();
    });</script>
</head>
<body>
    <h2>Hand Symbol Detector and Controller</h2>
    <p> Follow the steps below to create a keybind, record images, train the model, and run the classifier. </p>
    <ul>
        <li>
            <p>Step 1: Name your keybind or select existing</p>
            <div>
                <label for="folder_name">Folder Name:</label>
                <input type="text" id="folder_name" name="folder_name">
                <button id="create_folder">Create Folder</button>
            </div>
            <style>
                #keybinds, label[for="keybinds"] {
                    display: inline-block;
                }
            </style>
            
            <label for="keybinds">Select Keybind Name:</label>
            <div id="keybinds"></div>
        </li>
        <li>
            <label for="pull_keybind">Step 2: Pull Saved Keybinds or Create Keybinds using Table below</label>
            <button id="pull_keybind">Pull Saved Keybinds</button>
        </li>
        <li>
            <label for="create-images">Step 3: Create Images:  Records 100 frames of you performing the gesture. Then, it trains the model. </label>
            <button id="create-images">Create Images</button>
           
        </li>
        <li>
            <label for="inference-classifier">Step 4: Run Classifer:  Tracks hand and presses keys </label>
            <button id="inference-classifier">Run Classifier</button>
        </li>
    </ul>

    <script>
        
        $("#create-images").click(function() {
            var folder_name = $("#selected-folder").text();
            console.log("Folder name: ",folder_name);
            $.ajax({
                url: '/set_folder_name',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    folder_name: folder_name
                }),
                success: function(response) {
                    console.log(response);
                }
            });
            $.post("/create_images", function() {
                alert("Images created successfully");
            });
        });

        $("#inference-classifier").click(function() {
            var folder_name = $("#selected-folder").text();
            console.log("Folder name: ",folder_name);
            $.ajax({
                url: '/set_folder_name',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    folder_name: folder_name
                }),
                success: function(response) {
                    console.log(response);
                }
            });
            $.post("/inference_classifier", function() {
                
            });
        });

        $(document).ready(function() {
            $.get("/get_folder_list", function(data) {
                console.log(data);
                var select = $("<select>").attr("name", "folder").attr("id", "folder-select");
                for (var folder in data) {
                    var option = $("<option>").attr("value", data[folder]).text(data[folder]);
                    select.append(option); 
                }
                $("#keybinds").append(select); 
                $("#selected-folder").text(select.val());
            }).fail(function(xhr) {
                console.log("Error: ", xhr.responseText);
                $("#displayArea").text("Failed to get data");
            });
            
            $(document).on('change', '#folder-select', function() {
                var selectedFolder = $(this).val();
                $("#selected-folder").text(selectedFolder);
                createFolder(selectedFolder);
            });
        });
    </script>
    
    <h3>Keybinds: <span id="selected-folder"></span></h3>
    
    <table id="keybinder-table">
        <thead>
            <tr>
                <th>Gesture Name</th>
                <th>Key</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <button id="add-row">Add Row</button>
    
    <script>
        const KEYBOARD_MAPPING_KEYS = [
            'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z',
            '1', '2', '3', '4', '5', '6', '7', '8', '9', '0',
            'space', 'up', 'left', 'down', 'right',
            'escape', 'esc', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10', 'f11', 'f12',
            'printscreen', 'prntscrn', 'prtsc', 'prtscr', 'scrolllock', 'pause', '`', '-', '=', 'backspace', 'insert', 'home', 'pageup', 'pagedown',
            'numlock', 'divide', 'multiply', 'subtract', 'add', 'decimal', 'numpadenter', 'numpad1', 'numpad2',
            'numpad3', 'numpad4', 'numpad5', 'numpad6', 'numpad7', 'numpad8', 'numpad9', 'numpad0', 'tab', '[', ']', '\\', 'del', 'delete', 'end', 'capslock',
            ';', "'", 'enter', 'return', 'shift', 'shiftleft', ',', '.', '/', 'shiftright', 'ctrl', 'ctrlleft', 'win', 'winleft', 'alt', 'altleft',
            'altright', 'winright', 'apps', 'ctrlright'
        ];
        var table = document.getElementById('keybinder-table');
        let storedResponse; 

        $("#pull_keybind").click(function() {
            var folder_name = $("#selected-folder").text();
            console.log("Folder name: ",folder_name);
            $.ajax({
                url: '/set_folder_name',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    folder_name: folder_name
                }),
                success: function(response) {
                    console.log(response);
                }
            });
            $.get("/get_dicts", function(data) {
                $("#keybinder-table tbody").empty(); // Clear existing rows
                for (var gesture in data) {
                    addRow(gesture, data[gesture]); // Add a row for each keybind
                }
            }).fail(function(xhr) {
                console.log("Error: ", xhr.responseText);
                $("#displayArea").text("Failed to get data");
            });
        });
        
        
        function addRow(gesture = "", key = "") {
            var row = $("<tr>");
            var gestureCell = $("<td>").append($("<input>").attr("type", "text").val(gesture));
        
            var select = $("<select>").attr("name", "keybind");
            KEYBOARD_MAPPING_KEYS.forEach(function(keyOption) {
                var option = $("<option>").attr("value", keyOption).text(keyOption);
                if (keyOption === key) {
                    option.attr("selected", "selected");
                }
                select.append(option);
            });
        
            var keyCell = $("<td>").append(select);
            var removeButton = $("<button>").text("Remove").click(function() {
                $(this).closest("tr").remove();
            });
            var removeCell = $("<td>").append(removeButton);
        
            row.append(gestureCell, keyCell, removeCell);
            $("#keybinder-table tbody").append(row);
        }

        $("#add-row").click(function() {
           addRow();
        });
        
    </script>
    <button id="save-changes">Save Changes</button>

    <script>
        function createFolder(value="") {
            if (value === "") {
                value = $('#folder_name').val();
            }
            folder_name = value;
           
            console.log('create folder called')
            console.log(folder_name)
            $.ajax({
                url: '/create_folder',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    folder_name: folder_name
                }),
                success: function(response) {
                    console.log(response);
                }
            });
        }
        $("#folder-select").change(function() {
            var selectedFolder = $(this).val();
            $("#selected-folder").text(selectedFolder);
            createFolder(selectedFolder);
        });

        $('#create_folder').click(function() {
                createFolder();
            }    
        );

        $('#save-changes').click(function() {
            var updatedLabelsDict = {};
            var updatedKeybindsDict = {};

            var allRowsHaveValues = true;

            $('#keybinder-table tbody tr').each(function() {
                var gesture = $(this).find('input[type="text"]').val();
                var keybind = $(this).find('select').val();

                if (!gesture || !keybind) {
                    allRowsHaveValues = false;
                    return false; // break the .each() loop
                }

                updatedLabelsDict[gesture] = gesture;
                updatedKeybindsDict[gesture] = keybind;
            });

            if (!allRowsHaveValues) {
                alert('Please fill in all rows before saving changes.');
                return;
            }

            $.ajax({
                url: '/update_dicts',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    keybinds_dict: updatedKeybindsDict
                }),
                success: function(response) {
                    console.log(response);
                }
            });
        });
    </script>
    <h4>Test Box for Inputs</h4>
    <textarea></textarea>
</body>
</html>